name: telegram-autopost

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"   # каждые 6 часов

concurrency:
  group: telegram-autopost
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          SESSION_STRING: ${{ secrets.SESSION_STRING }}
          DESTINATION: ${{ secrets.DESTINATION }}
          SOURCES: ${{ secrets.SOURCES }}
          INTERVAL_SECONDS: "10"
          RUN_MINUTES: "330"
          DEDUP_TEXT: "1"
          DEDUP_TTL_HOURS: "72"
        run: |
          python main.py

      - name: Commit state.json (so it remembers last messages)
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add state.json
            git commit -m "update state"
            git push
          else
            echo "No changes"
          fi
